<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/Css/Dashboard.css">
    <!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../asset/Css/Dashboard.css">
    <link rel="shortcut icon" href="/asset/Img/spa-regular-24.png" type="image/x-icon">
</head>
<body>
    <section id="content">
        <main style="margin-left: -150px; overflow-y: hidden;">
            <div class="head-title">
                <div class="left">
                    <h1>Inicio</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Inicio</a>
                        </li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>
                            <a class="active" href="#">Bienvenidos</a>
                        </li>
                    </ul>
                </div>
            </div>
    
            <ul class="box-info">
                <li>
                    <i class='bx bx-heart-circle'></i>
                    <span class="text">
                        <h3>Que tu sonrisa sea tan brillante como ahora lo es tu piel.</h3>
                        <br>
                        <h4>Saca a relucir tu belleza interna.</h4>
                    </span>
                </li>
            </ul>
    
    
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <div class="">
                            <center><img src="../asset/Img/spa1.jpg" alt="" width="70% " height="60%"></center>
                            <br>
                            <center><h3><FONT COLOR="purple">La vida se disfruta mas despues de una relajante sesion de Spa</FONT></h3</center>
                        </div>
                    </div> 
                </div> 
            </div>

        </main>
    </section>
    
</body>
</html>