<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../asset/Css/Dashboard.css">
    <link rel="shortcut icon" href="/asset/Img/spa-regular-24.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<title>Admin Spa</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxl-react'></i>
			<span class="text">Spa</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="Board.html" target="workSpace">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Inicio</span>
				</a>
			</li>
			<li>
				<a href="security/Person.html" target="workSpace">
					<i class='bx bx-user'></i>
					<span class="text">Personas</span>
				</a>
			</li>
			<li>
				<a href="security/Role.html" target="workSpace">
					<i class='bx bxs-user-badge'></i>
					<span class="text">Roles</span>
				</a>
			</li>
			<li>
				<a href="security/Module.html" target="workSpace">
					<i class='bx bx-folder'></i>
					<span class="text">Modulos</span>
				</a>
			</li>
			<li>
				<a href="security/View.html" target="workSpace">
					<i class='bx bxs-show'></i>
					<span class="text">Vistas</span>
				</a>
			</li>
			<li>
				<a href="security/ViewRole.html" target="workSpace">
					<i class='bx bxs-image'></i>
					<span class="text">Vistas roles</span>
				</a>
			</li>
			<li>
				<a href="security/User.html" target="workSpace">
					<i class='bx bx-user-plus' ></i>
					<span class="text">Usuarios</span>
				</a>
			</li>
			<li>
				<a href="security/UserRole.html" target="workSpace">
					<i class='bx bxs-user-account' ></i>
					<span class="text">Usuarios roles</span>
				</a>
			</li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
            <button onclick="SignOut()" class="logout">
                <i class='bx bx-log-out-circle'></i>
                <span class="text">Salir</span>
            </button>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		
        <iframe src="Board.html" class="home-section" id="workSpace" name="workSpace" frameborder="0" style="width: 100%; height: 880px;"></iframe>
		
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="../js/Dashboard.js"></script>
	<script src="../js/Login.js"></script>
</body>
</html>